// --------------------------------------------------
// +++ UTILITIES PAGE TRANSITIONS +++
// --------------------------------------------------


// === VARIABLES ===
// --------------------------------------------------

$page-transition-duration: 800ms;

// === ANIMATIONS ===
// --------------------------------------------------

// ENTER FROM

.page-transition-enter {
  position: absolute;

  &:after {
    position: fixed;
    top: 0;
    z-index: 3;

    width: 0;
    height: 100vh;

    transform: translate3d(0, 0, 0);

    transition-timing-function: ease-in-out;
    animation-duration: $page-transition-duration;

    background: $yom-cod;
    will-change: width, height;

    content: '';
  }

  .page {
    opacity: 0;
  }
}

// ENTER TO

.page-transition-enter.page-transition-enter-active {
  .page {
    transition-delay: $page-transition-duration / 2;

    opacity: 1;
  }

  &:after {
    animation-name: swipeInOut;
  }
}

// EXIT FROM

.page-transition-exit {
  position: relative;
  z-index: 2;

  opacity: 1;
}

.page-transition-exit.page-transition-exit-active {
  .page {
    transition-delay: $page-transition-duration / 2;

    opacity: 0;
  }
}

// === KEYFRAMES ===
// --------------------------------------------------

// SWIPEINOUT

@keyframes swipeInOut {
  0% {
    width: 0;
  }

  45% {
    width: 100%;
  }

  55% {
    width: 100%;
    height: 100vh;
  }

  100% {
    width: 100%;
    height: 0;
  }
}
