// --------------------------------------------------
// +++ COMPONENT LOGO +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// LOGO

.logo {
  position: relative;

  display: block;

  margin-top: 70px;
}
