// --------------------------------------------------
// +++ COMPONENT HEADER +++
// --------------------------------------------------


// === BASE ===
// --------------------------------------------------

// HEADER

.header {
  position: relative;

  width: 100%;
}

// === PARTS ===
// --------------------------------------------------

// HERO

.header__hero {
  position: relative;

  padding-top: 90px;
  padding-right: 5%;
  padding-left: 5%;

  text-align: right;
}
