// --------------------------------------------------
// +++ SETTINGS COLORS +++
// --------------------------------------------------


// === COLORS ===
// --------------------------------------------------

// WHITE

$yom-white: #fff;

// COD

$yom-cod: #171717;

// DUSTY

$yom-dusty: #767676;
