body {
  margin: 0;
  padding: 0;

  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  height: 170px;

  padding: 20px;

  background-color: #ddd;

  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
